a {
    text-decoration: none!important;;
}

h1 {
    margin: auto;
    margin-top: 2rem!important;
}

.search {
    width: 30%;
    float: right;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.table {
    margin-bottom: 2rem!important;
}

.upload-btn {
    text-align: center;
}

.icon-link .bi {
    fill: black!important;
}

.list-group {
    margin-top: 1rem;
}

.row {
    height: 700px;
}

.list-group-item {
    border: none!important;
}

.card {
    width: 70%;
    margin: 3rem auto auto;
    margin-top: 6rem!important;
}

.card-content {
    width: 90%;
    height: 70%;
    margin: auto!important;
    margin-top: 1rem!important;
    margin-bottom: 2rem!important;
}

.upload-btn {
    margin-top: 2rem!important;
}