<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../static/css/index.css" rel="stylesheet" type="text/css"/>
    <title>CAC</title>
</head>
<header>
    <div th:replace="./nav.html"></div>
</header>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="./sidebar.html"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="card" style="width: 40%!important;">
                <div class="col-12 upload-btn">
                    <a th:href="@{|${kakaoUrl}|}">
                        <img src="../static/image/kakao_login.png">
                    </a>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="../static/js/form_check.js"></script>
</body>
</html>